syntaxe.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar
	xmlns="http://relaxng.org/ns/structure/1.0"
>
	<!-- Syntaxe globale -->
	<start>
		<ref name="corpus"/>
	</start>
	<!-- Définition des balises -->
	<define name="corpus">
		<zeroOrMore>
			<ref name="bulletin"/>
		</zeroOrMore>
	</define>
	<define name="bulletin">
		<element name="fichier">text()</element>
		<element name="numero">text()</element>
		<element name="date">text()</element>
		<element name="rubrique">text()</element>
		<ref name="texte"/>
	</define>
	<define name="texte">
		
	</define>
	<define name="image">
	</define>
</grammar>
