syntaxe.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar
	xmlns="http://relaxng.org/ns/structure/1.0"
>
	<!-- Syntaxe globale -->
	<start>
		<element name="corpus"/>
	</start>
	<!-- Définition des balises -->
	<element name="corpus">
		<zeroOrMore>
			<element name="bulletin"/>
		</zeroOrMore>
	</element>
	<element name="bulletin">
		<element name="fichier">text()</element>
	</element>
</grammar>